---
layout: base
title: Organizers
permalink: /about/organizers/
description: DjangoCon US is dedicated to providing a fun harassment-free conference experience for everyone, regardless of gender, gender identity, sexual orientation, disability, physical appearance, body size, race, or religion.
heading: Organizers
---

{% include titlebar.html %}
<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content subpage-content">
  <section class="section-pad">
    <div class="row column">
      <h2>Subhead</h2>

      <p class="lead">
        Intro paragraph. There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.
      </p>

      <div
        class="row organizers"
        data-equalizer data-equalize-on="medium">
      {% for organizer in site.data.organizers.organizers %}
        <div
          class="column small-12 smedium-6 medium-4 large-3"
          data-equalizer-watch>
          <div class="profile">
            <img
              class="thumbnail"
              src="https://placem.at/people?w=600&h=600"
              alt="Photo of {{ organizer.name }}" />
            <div markdown="1">
              <h3 class="profile-name">{{ organizer.name }}</h3>
              {{ organizer.role }}
            </div>
            <ul class="social-icons">
              {% if organizer.twitter != blank %}
              <li>
                <a class="twitter" href="https://twitter.com/{{ organizer.twitter }}" target="_blank">
                  <svg class="twitter-icon"><use xlink:href="#twitter-icon"></use></svg>
                </a>
              </li>
              {% endif %}
              {% if organizer.github != blank %}
              <li>
                <a class="github" href="https://github.com/{{ organizer.github }}/" target="_blank">
                  <svg class="social-icon"><use xlink:href="#github-icon"></use></svg>
                </a>
                </li>
              {% endif %}
            </ul>
            </div><!--/.profile -->
        </div><!--/.column -->
      {% endfor %}

      </div><!--/.row -->
    </div>
  </section>
</div><!-- end .content -->
