---
layout: base
permalink: /sponsors/
heading: Sponsors
description: DjangoCon US is only possible through the support of various organizations.
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content">
  <div class="row column v-pad-bottom">
    <div class="medium-6 large-7 column">
      <p class="lead">
        DjangoCon US is only possible through the generosity of the organizations and businesses on this page. Their donations make it possible for us to provide financial support to speakers and attendees, record all talks, host sprints, and feed everyone for six days. Thank you for your support!
      </p>
    </div>
    <div class="medium-5 large-4 column">
      <div class="callout text-center partner-cta-box">
        <h2>Sponsor DjangoCon US</h2>
        <p>Sponsorship for 2018 is now closed. But you can support the community who builds and supports the software you use by signing up as a 2019 conference sponsor!</p>
        <a href="/sponsors/information/" class="button hollow theme-shakespeare">Become a Sponsor for 2019</a>
      </div>
    </div>
  </div>

{% assign sponsors_by_level = "Platinum|Gold|Silver|Bronze|Diversity & Inclusion|Community" | split: "|" %}
{% for level in sponsors_by_level %}
  <div class="section-pad {% cycle 'theme-light-gray', 'theme-medium-gray', 'theme-white' %}">
    <h2 class="text-center v-pad-bottom">{{ level }}</h2>
    {% for sponsor in site.sponsors %}
      {% if sponsor.level == level %}
        {% unless sponsor.hidden %}
          <div class="row partner">
            <div class="column medium-4 text-center">
              <a href="{{ sponsor.url_target }}">
                <img
                  class="partner-logo {{ sponsor.logo_orientation }}"
                  src="{{ sponsor.logo }}"
                  alt="{{ sponsor.name }} Logo" />
              </a>
            </div>
            <div class="column medium-8">
              <h3 class="partner-name"><a href="{{ sponsor.url_target }}">{{ sponsor.name }}</a></h3>
              {% capture sponsor_description %}{{ sponsor.description }}{: .partner-description }{% endcapture %}
              {{ sponsor_description | markdownify }}
            </div>
          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}

</div>
