---
layout: default
title: Tutorials Schedule
permalink: /tutorials/
description: DjangoCon US 2017 Tutorials Schedule
heading: Tutorials Schedule
sitemap: true
---

<!-- tutorials -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Tutorials: Sunday, August 13</h2>
    <p class="lead">
      Tutorials are a separate registration and are $150 per session. Buy tutorial tickets before they sell out!
    </p>
    <ul class="schedule">
      {% for post in site.schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Sunday' %}
          {% include schedule-tutorials-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- tutorials -->
