---
layout: base
heading: Venue
title: Venue
permalink: /venue/
description: |
  DjangoCon US 2018 is being held at the Marriott of Mission Valley in San Diego, CA.
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
  <p class="lead min">
    <a href="https://www.google.com/maps/dir/San+Diego+Marriott+Mission+Valley,+Rio+San+Diego+Drive,+San+Diego,+CA//@32.7754329,-117.1750318,13z/data=!4m8!4m7!1m5!1m1!1s0x80d95511b5cb3763:0x8d1b1fd759d15dbf!2m2!1d-117.1400123!2d32.7754378!1m0">
      <strong>San Diego Marriott of Mission Valley</strong> <br />
      <small>8757 Rio San Diego Dr, San Diego, CA 92108</small>
    </a>
  </p>
</header>

<div class="row column v-pad-bottom" id="welcome">
  <div class="medium-7 column">
    <h2>Welcome to San Diego!</h2>
    <p class="lead min">This year's venue is the San Diego Marriott of Mission Valley! Located just 20 minutes from San Diego International Airport and under 15 minutes from the glorious San Diego Zoo, the Marriott of Mission Valley provides the perfect setting.</p>
    <p>San Diego Marriott of Mission Valley is only steps away from the beautiful San Diego River Trail, which is great for your morning run or bike ride.</p>
  </div>
  <div class="medium-5 column">
    {% comment %}
    <iframe
      class="thumbnail thumbnail-block"
      width="600"
      height="380"
      frameborder="0"
      src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJv9e4a_QYnlQRqsCuHEMJZfY&key=AIzaSyC53fhhv-toSLa-iCzc0qt8zFmVNF1vfDw" allowfullscreen></iframe>
    {% endcomment %}

    <a
      class="hide-for-smedium-only"
      href="https://www.google.com/maps?ll=32.7751394,-117.139956&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=8757+Rio+San+Diego+Dr,+San+Diego,+CA+92108"
      target="_blank">
      <img
        class="thumbnail thumbnail-block"
        width="600" src="https://maps.googleapis.com/maps/api/staticmap?scale=false&zoom=16&size=600x380&maptype=roadmap&key=AIzaSyBpAAN1jo0K9AbR4znChM9VwXUZgPDd5zM&format=png&visual_refresh=true&markers=size:mid|color:0xe65b00|label:1|32.7751394,+-117.139956"
        alt="Google Map of San Diego Marriott Mission Valley">
    </a>
    <p class="medium-text-center">
      <a
        class="button hollow theme-violetred"
        href="https://www.google.com/maps?ll=32.7751394,-117.139956&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=8757+Rio+San+Diego+Dr,+San+Diego,+CA+92108" target="_blank">View Larger Map</a>
    </p>
  </div>
</div>


<section class="section-pad theme-medium-gray" id="hotel">
  <div class="row column">
    <div class="medium-6 column hide-for-small-only">
      <!-- TODO: update image -->
      <img
        class="thumbnail thumbnail-block"
        src="/static/img/venue.jpg"
        alt="San Diego Marriott of Mission Valley" />
    </div>
    <div class="medium-6 column">
      <h2>Staying at the San Diego Marriott Mission Valley</h2>
      <p class="lead min">Our group rate of <strong>$169/night</strong> expires on September&nbsp;13, so don't wait to book your room!</p>

      <ul class="list-split">
        <li>Free Wi-Fi</li>
        <li>Room for hallway hacking</li>
        <li>Short trip to downtown</li>
        <li>Heated outdoor pool</li>
      </ul>
      <p>If you have trouble booking your room or the room block appears to be sold out, please <a href="mailto:{{ site.contact_us_email }}">contact us</a> and we'll help you out!</p>
      <p>
        <a href="{{ site.hotel_reservation_link }}" class="button hollow theme-shakespeare">Book a Room</a>
      </p>
    </div>
  </div>
</section>

<div class="section-pad theme-light-gray" id="places">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Around San Diego</h2>
    <p class="lead column large-10 large-centered text-center">Public transportation is available via the <a href="https://www.sdmts.com/">San Diego Metropolitan Transit System</a> which includes the San Diego Trolley and city buses. Popular ride sharing services are also available. While you're cruising around town, be sure to check out our favorite spots:</p>
  </div>

  {% comment %}
  Beginning of Places Around San Diego...

  To update the information in this section, please see:

    `_data/places.yml`

  {% endcomment %}
  {% if site.places %}
  <section class="row large-up-2 attraction-list">

  {% for places in site.places %}

      <div class="column column-block">
      <div class="media-object stack-for-small attraction">
        <div class="media-object-section hide-for-small-only">
          <a href="{{ places.website }}" target="_blank">
            <img
                class="thumbnail"
                src="{{ places.photo_url }}"
                alt="Photo of {{ places.name }}" />
          </a>
        </div>
        <div class="media-object-section">
          <h3 class="attraction-name">
            <a href="{{ places.website }}" target="_blank">{{ places.name }}</a>
          </h3>
          <p class="attraction-description">
            <strong>Website:</strong> <a href="{{ places.website }}" target="_blank"> {{ places.name }}</a><br>
            <strong>Distance:</strong>  <span class="label">{{ places.distance }} </span><br>
            <strong>Address:</strong> <a href="{{ places.map }}" target="_blank">{{ places.location }}</a>
          <br>
          <i>{{ places.description }}</i></p>
        </div>
      </div>
    </div>

  {% endfor %}
  </section>
  {% endif %}
  {% comment %}
  End of Places Around San Diego...
  {% endcomment %}
</div>

<div class="section-pad" id="accessibility">
  <div class="row">
    <div class="column medium-5">
      <h2>An Accessible Experience</h2>
      <p class="lead min">We're working with the staff at the San Diego Marriott to accommodate the diverse needs of our attendees.</p>
      <p>Are we missing something? <strong><a href="mailto:{{site.contact_us_email}}">Let us know</a>.</strong></p>
    </div>

    <div class="column medium-6">
      <div class="callout">
        <ul class="bottomless">
          <li>There is step-free access to all parts of the venue.</li>
          <li>All public restrooms have accessible stalls.</li>
          <li>San Diego Marriott does not provide gender-neutral restrooms. Please use the restroom for the gender with which you identify.</li>
          <li>Service animals are welcome, and there is a grassy area to the left of the hotel where they can be walked.</li>
          {% comment %}
          <!-- TODO: Fill-in Quiet Room details
          <li>The Quiet Room is Willow I on all conference days. This room is not for socializing.</li>
          -->
          {% endcomment %}
          <li><a href="http://www.aasandiego.org/">Attend a recovery meeting</a>. There are many recovery meetings near the conference hotel, <a href="https://www.google.com/maps/d/u/0/viewer?mid=1r2z9yZ5RPpGGhdOry7cHbwjZomA&ll=32.77259901952868%2C-117.14099820202603&z=14">which can be seen on a map here</a>. These include traditional AA meetings, LBGTQ community meetings, secular meetings, and more. If you need more information or want to carpool to meetings, please contact <a href="mailto:recovery@pyphilly.org">recovery@pyphilly.org</a>. Anonymity will be maintained.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
