language: ruby
rvm:
- 2.3.3

script:
  - bundle exec rake test

# branch whitelist
branches:
  only:
  - master
  - develop

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true  # speeds up installation of html-proofer

sudo: false  # route your build to the container-based infrastructure for a faster build
