title: DjangoCon US
url: "https://2017.djangocon.us"
author : DjangoCon US

include:
  - _pages
  - .surgeignore

# Build settings
markdown: kramdown

gems:
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - CNAME

sass:
    style: compressed
