<header class="header">
  <div class="row column large-8 large-centered">
    <h1>Six days of talks, sprints, and tutorials by the community for the community.</h1>
  </div>
  <div class="subhead row column medium-8 medium-centered">
    <div class="column medium-4 dates">
      <h4><strong>August 13–18</strong>
        2017</h4>
    </div>
    <div class="column medium-8 location">
      <h4>Hotel RL by Red Lion Spokane at the Park
        <strong>Spokane, Washington</strong></h4>
    </div>
  </div>
</header>
