<header class="header">
  <div class="row column medium-9 medium-centered large-12 large-centered">
    <h1>Six days of talks, sprints, and tutorials by the community for the community.</h1>
  </div>
  <div class="subhead row column medium-8 medium-centered">
    <div class="column medium-3 dates">
      <h2 class="subheading">
        <strong>August 13–18</strong>
        <span class="dates-year">2017</span>
      </h2>
    </div>
    <div class="column medium-9 location">
      <h2 class="subheading">Hotel RL by Red Lion Spokane at the Park
        <strong>Spokane, Washington</strong></h2>
    </div>
  </div>
</header>
