  <li>
    <a href="/about/">About</a>
    <ul class="menu vertical">
      <li><a href="/coc/">Code of Conduct</a></li>
      <li><a href="/financial-aid/">Financial Aid</a></li>
      <li><a href="/why-djangocon-us/">Why DjangoCon US?</a></li>
    </ul>
  </li>
  <li>
    <a href="/schedule/">Schedule</a>
    <ul class="menu vertical">
      <li><a href="/talks/">Talks</a>
        <ul class="menu vertical">
            <li><a href="/talk-details/">Talk Details</a></li>
        </ul>
      </li>
      <li><a href="/tutorials/">Tutorials</a>
        <ul class="menu vertical">
            <li><a href="/tutorial-details/">Tutorials Details</a></li>
        </ul>
      </li>
      <li><a href="/sprints/">Sprints</a></li>
      <li><a href="/additional-events/">Additional Events</a></li>
    </ul>
  </li>
  <li><a href="/venue/">Venue</a>
    <ul class="menu vertical">
        <li><a href="/accessibility/">Accessibility</a></li>
    </ul>
  </li>
  <li><a href="#">Speaking</a>
    <ul class="menu vertical">
        <li><a href="/speaker-resources/">Speaker Resources</a></li>
    </ul>
  </li>
  <li><a href="/sponsors/">Sponsors</a>
    <ul class="menu vertical">
        <li><a href="/become-a-sponsor/">Become a Sponsor</a></li>
    </ul>
  </li>
  <li><a href="#">News</a></li>
  <li class="has-button">
    <a class="navbar-button" href="https://ti.to/defna/djangocon-us-2017">
      <strong>Buy Tickets</strong><br>
      <small>Early Bird Pricing Available</small>
    </a>
  </li>
