<ul class="dropdown menu" data-dropdown-menu>
  <li>
    <a href="{{ site.url }}">About</a>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ site.url }}">Schedule</a>
    <ul class="menu vertical">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </li>
  <li><a href="#">Venue</a></li>
  <li><a href="#">Speaking</a></li>
  <li><a href="#">Sponsors</a></li>
  <li><a href="#">News</a></li>
  <li class="has-button">
    <a class="navbar-button" href="#">
      <strong>Buy Tickets</strong><br>
      <small>Early Bird Ends May 7</small>
    </a>
  </li>
</ul>
