<li>
  <a href="/about/">About</a>
  <ul class="menu vertical">
    <li><a href="/coc/">Code of Conduct</a></li>
    <li><a href="/financial-aid/">Financial Aid</a></li>
    {% comment %}
    <li><a href="/why-djangocon-us/">Why DjangoCon US?</a></li>
    {% endcomment %}
    <li><a href="/organizers/">Organizers</a></li>
  </ul>
</li>
{% comment %}
<li>
  <a href="/schedule/">Schedule</a>
  <ul class="menu vertical">
    <li>
      <a href="/talks/">Talks</a>
    </li>
    <li>
      <a href="/tutorials/">Tutorials</a>
    </li>
    <li><a href="/sprints/">Sprints</a></li>
  </ul>
</li>
{% endcomment %}
<li><a href="/venue/">Venue</a></li>
<li>
  <a href="/speaking/">Speaking</a>
  <ul class="menu vertical">
    <li><a href="/speaking/speaker-resources/">Speaker Resources</a></li>
  </ul>
</li>
<li>
  <a href="/sponsors/">Sponsors</a>
  <ul class="menu vertical">
    <li><a href="/sponsors/information/">Become a Sponsor</a></li>
  </ul>
</li>
<li><a href="/news/">News</a></li>
<li class="has-button">
  <a class="navbar-button" href="https://ti.to/defna/djangocon-us-2017">
    <strong>Buy Tickets</strong><br>
    <small>Early Bird Pricing Available</small>
  </a>
</li>
