<li class="event">
  {% if post.link %}
    <a href="{{ post.link }}" class="event-content">
  {% else %}
    {% if post.permalink %}
      <a href="{{ post.permalink }}" class="event-content">
    {% else %}
      <span class="event-content">
    {% endif %}
  {% endif %}

  {% if post.title %}
    <h3 class="event-title">{{ post.title }}</h3>
  {% endif %}

  {{ post.content }}

  {% if post.presenters %}
    {% for presenter in post.presenters %}
    <p class="event-byline">
      {% if presenter.photo_url != blank %}
      <img
        class="avatar"
        src="{{ presenter.photo_url }}"
        alt="Photo of {{ presenter.presenters }}" />
      {% endif %}
      {{ presenter.name }}
      {% if presenter.pronouns != blank %}
        ({{ presenter.pronouns }})
      {% endif %}
    </p>
    {% endfor %}
  {% endif %}

  {% if post.link %}
    </a>
  {% else %}
    {% if post.permalink %}
      </a>
    {% else %}
      </span>
    {% endif %}
  {% endif %}
</li>
