<li>
  <article class="row hour-row">
    <div class="column medium-1">
      <time class="time">{{ post.date | date: "%l:%M%P" }}
        {% if post.end_date %}
          <span class="muted">{{ post.end_date | date: "%l:%M%P" }}</span>
        {% endif %}
      </time>
    </div>
    <div class="column medium-11">
      <ul class="events">
        <li class="event">
          <span class="event-content">
            <h3 class="event-title">{{ post.title }}</h3>
            {{ post.content }}
          </span>
          {% if post.presenters %}
            {% for presenter in post.presenters %}
            <p class="event-byline">
              {% if presenter.photo_url != blank %}
              <img
                class="avatar"
                src="{{ presenter.photo_url }}"
                alt="Photo of {{ presenter.presenters }}" />
              {% endif %}
              {{ presenter.name }}
            </p>
            {% endfor %}
          {% endif %}
        </li>
      </ul>
    </div>
  </article>
</li>
