<nav class="title-bar headroom">
  <div class="title-bar-left">
      <a class="logo" href="{{ site.url }}">
        {% include logo.svg.html %}
      </a>
  </div>
  <div class="title-bar-right">
    <ul class="dropdown menu quiet show-for-medium" data-dropdown-menu>
      {% include nav.html %}
    </ul>
    <button class="hamburger hamburger--spin hide-for-medium" type="button" data-toggle="offCanvasRight">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

  </div>
</nav>
