<meta property="og:video" content="https://www.youtube.com/watch?v={{ include.id }}" />
<meta property="og:video:secure_url" content="https://www.youtube.com/watch?v={{ include.id }}" />
<meta property="og:video:height" content="385" />
<meta property="og:video:width" content="640" />

<meta name="twitter:card" content="player" />
<meta name="twitter:player:width" content="640" />
<meta name="twitter:player:height" content="385" />
<meta name="twitter:player:stream" content="https://www.youtube.com/embed/{{ include.id }}" />
