.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: get-color(primary);

  p,
  a,
  small {
    color: $white;
  }

  a,
  svg,
  path,
  polygon,
  rect,
  g {
    transition: all 400ms ease;
  }

  .legal {
    display: block;
  }
}

.footer-logo {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto 1.5em;
  width: 240px;

  svg {
    max-width: 100%;
    height: auto;
  }

  path {
    fill: $white;
  }
}

.footer-nav {
  margin: 0;
  padding: 0;

  font-size: rem-calc(24);
  font-weight: bold;
  list-style: none;

  a {
    display: block;
    padding: 0.25em 0.5em;
    color: $white;
  }

  @include breakpoint(medium) {
    text-align: center;

    li {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.footer .social-icons {
  text-align: center;
}
