// headroom is the plugin used to pin the navbar to the top.
// it adds classes with JS, and those classes are used here.
// Documentation here: http://wicky.nillia.ms/headroom.js/

// title bar text overrides
.menu  a {
  color: $white;
  text-decoration: none;
}

// If you want to only have the transparent-at-top option on the homepage
// instead of site-wide,  prepend every instance of .headroom--top with
// .home-title-wrap in this file.

.headroom--top .menu .menu,
.menu .menu { // subnav menu, with the headroom class added so it doesn't change
  text-align: left;
  a {
    color: $white;
  }

  a:hover {
    background: $secondary-color;
  }
}


.headroom--top .menu .navbar-button,
.navbar-button {
  padding-top: .4rem;
  padding-bottom: .4rem;
  background: $orange;
  color: $white;
  text-align: center;
  line-height: 1.1;

  small {
    font-size: rem-calc(16);
  }

  &:hover {
    background: mix(black, $orange, 10%);
  }
}

.logo {
  width: 160px;
  display: block;
  margin: 10px 0 -20px 10px;

  .background-field{
    fill: $green;
  }

  .djangocon{
    fill: $body-background;
  }

  .location{
    fill:$orange;
  }
}

@include breakpoint(medium) {
  .logo {
    width: 140px;
    margin: 10px 0 -60px 10px;
  }
}

@include breakpoint(large) {
  .logo {
    width: 270px;
  }
}

@include breakpoint(xlarge) {
  .logo {
    width: 300px;
  }
}

// change appearance on scroll.
.headroom {
  will-change: transform;
  transition: all 200ms ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  a,
  svg,
  path,
  polygon,
  rect,
  g {
    transition: all 400ms ease;
  }
}

@include breakpoint(small only) { // hide header when scrolling down on mobile
  .headroom--pinned {
      transform: translateY(0%);
  }

  .headroom--unpinned {
      transform: translateY(-130%);
  }
}

// change visual styles
.headroom--top {
  background-color: transparent;

  .logo {
    width: 160px;

    .background-field{
      fill: transparent;
    }

    .djangocon{
      fill: $green;
    }

    .location{
      fill: $orange;
    }
  }

  .menu {
    a {
      color: $green;
    }

    li.is-dropdown-submenu-parent > a::after { // override arrow color
      border-color: $green transparent transparent;
    }

    li li.is-dropdown-submenu-parent > a::after { // override arrow color
      border-color: $body-background transparent transparent;
      opacity: 1;
    }

    .menu {
      a {
        color: $white;
      }

      a:hover {
        background: $primary-color;
      }
    }

    li:not(.has-button) {
      &:hover {
        > a,
        > a:hover {
          color: $orange;
        }
      }
    }
  }

  @include breakpoint(medium) {
      .logo {
        width: 140px;
      }
  }

  @include breakpoint(large) {
    .logo {
      width: 265px;
    }
  }

  @include breakpoint(xlarge) {
    .logo {
      width: 400px;
    }
  }
}


// tightening drop-down arrows on navigaiton parent elements
.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-right: 1.1rem;
}
