---
permalink: /styleguide/
sitemap: false
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Style Guide</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i|Signika:600,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- favicon
    ================================================== -->
    <link href="/static/icons/favicon.ico" rel=icon type="image/x-icon">
    <link href="/static/icons/favicon.png" rel=icon type="image/png">

    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  </head>
  <body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="github-icon" viewBox="0 0 32.58 31.77">
        <path d="M16.29,0a16.29,16.29,0,0,0-5.15,31.75c.81.15,1.11-.35,1.11-.79s0-1.41,0-2.77C7.7,29.18,6.74,26,6.74,26a4.31,4.31,0,0,0-1.81-2.38c-1.48-1,.11-1,.11-1a3.42,3.42,0,0,1,2.5,1.68,3.47,3.47,0,0,0,4.74,1.35,3.48,3.48,0,0,1,1-2.18C9.7,23.08,5.9,21.68,5.9,15.44a6.3,6.3,0,0,1,1.68-4.37,5.86,5.86,0,0,1,.16-4.31s1.37-.44,4.48,1.67a15.44,15.44,0,0,1,8.16,0c3.11-2.11,4.48-1.67,4.48-1.67A5.85,5.85,0,0,1,25,11.07a6.29,6.29,0,0,1,1.67,4.37c0,6.26-3.81,7.63-7.44,8a3.89,3.89,0,0,1,1.11,3c0,2.18,0,3.93,0,4.47s.29.94,1.12.78A16.29,16.29,0,0,0,16.29,0Z"/>
      </symbol>
      <symbol id="twitter-icon" viewBox="0 0 32.804 26.499">
        <path d="M32.804 3.055c-.887 1.28-1.971 2.462-3.35 3.447v.887c0 3.054-.689 6.107-2.167 8.964-1.379 2.856-3.645 5.221-6.601 7.191-2.955 1.97-6.402 2.955-10.343 2.955-3.842 0-7.29-.985-10.344-2.955.296 0 .887.099 1.675.099 3.152 0 5.911-.985 8.373-2.857-1.478 0-2.758-.492-3.94-1.379s-1.97-1.97-2.363-3.349c.196.098.689.098 1.28.098s1.182-.098 1.772-.196c-1.575-.296-2.856-1.084-3.841-2.364-.985-1.281-1.479-2.66-1.479-4.236v-.1c.887.493 1.872.788 2.956.887-1.971-1.379-2.956-3.25-2.956-5.614 0-1.183.296-2.266.887-3.35 3.646 4.433 8.274 6.797 13.89 6.994a5.95 5.95 0 0 1-.197-1.478c0-1.872.69-3.448 1.971-4.729S20.982 0 22.854 0c1.97 0 3.546.69 4.826 2.069 1.379-.296 2.857-.788 4.236-1.576-.493 1.576-1.478 2.758-2.955 3.743 1.38-.296 2.66-.689 3.843-1.181z"/>
      </symbol>
      <symbol id="facebook-icon" viewBox="0 0 42 42">
        <path d="M39.68,0H2.32A2.32,2.32,0,0,0,0,2.32V39.68A2.32,2.32,0,0,0,2.32,42H22.43V25.74H17V19.4h5.47V14.72c0-5.42,3.31-8.38,8.15-8.38a44.91,44.91,0,0,1,4.89.25v5.67H32.12c-2.63,0-3.14,1.25-3.14,3.09v4h6.28l-.82,6.34H29V42h10.7A2.32,2.32,0,0,0,42,39.68V2.32A2.32,2.32,0,0,0,39.68,0Z"/></svg>
      </symbol>
    </svg>

    <nav class="title-bar headroom">
      <div class="title-bar-left">
        <a class="logo" href="/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 599.6 209.4"><title>DjangoCon US 2018</title><path fill="#B52BC9" d="M264.7 190.9c0-1.3.4-2.6 1-4.1.6-1.5 1.3-2.7 2.1-3.6 3.9 2 7.2 3.1 10.1 3.1 1.4 0 2.4-.2 3.1-.7s1.1-1.1 1.1-1.9c0-1.5-1.1-2.5-3.3-3.3l-4-1.5c-6.1-2.2-9.1-5.9-9.1-10.9 0-3.7 1.3-6.6 3.8-8.8 2.5-2.2 6-3.2 10.3-3.2 2.1 0 4.5.3 7 .9 2.6.6 4.7 1.3 6.3 2.1.1 1.4-.2 2.8-.8 4.5-.6 1.6-1.4 2.8-2.3 3.4-4.1-1.8-7.5-2.8-10.2-2.8-1 0-1.7.2-2.2.7-.5.4-.8 1-.8 1.7 0 1.2.9 2.1 2.8 2.8l4.5 1.6c6.4 2.3 9.7 6.2 9.7 11.7 0 3.6-1.3 6.5-4 8.6-2.7 2.1-6.5 3.2-11.4 3.2-4.9.1-9.5-1.1-13.7-3.5zM330.6 188.1c-.2 1-.7 2.1-1.4 3.3-.7 1.2-1.4 2-2.1 2.5-3.4-.1-6-1.4-7.8-3.8-3.1 2.9-6.6 4.4-10.2 4.4-1.9 0-3.5-.3-4.9-.9-1.4-.6-2.6-1.4-3.6-2.4s-1.7-2.2-2.2-3.5c-.5-1.3-.7-2.7-.7-4.2 0-2.1.4-3.9 1.1-5.5.8-1.6 1.8-2.9 3.1-3.9s2.8-1.8 4.6-2.4 3.6-.8 5.6-.8h2.9c.8 0 1.6.1 2.2.1v-1.4c0-3.1-1.6-4.6-4.7-4.6-2 0-5.6.8-10.7 2.4-1.5-1.7-2.4-4.3-2.8-7.9 1.2-.4 2.5-.8 3.9-1.2 1.4-.4 2.9-.7 4.4-1 1.5-.3 3-.5 4.4-.7 1.5-.2 2.8-.3 3.9-.3 1.7 0 3.3.2 4.9.7 1.6.5 3 1.2 4.1 2.2 1.2 1 2.1 2.3 2.8 3.8.7 1.6 1.1 3.5 1.1 5.6v14.7c0 2.4.7 3.9 2.1 4.8zm-22-5.4c0 2.3 1.3 3.4 3.9 3.4 1.4 0 2.9-.7 4.6-2.1v-5.8c-1 0-1.8-.1-2.4-.1h-1.5c-3-.1-4.6 1.5-4.6 4.6zM368.3 169.4v14.9c0 3.2.6 5.6 1.7 7.2-1.8 1.6-4 2.5-6.6 2.5-2.5 0-4.2-.6-5.2-1.7s-1.4-2.9-1.4-5.3v-15.5c0-1.6-.2-2.9-.7-3.6s-1.3-1.2-2.5-1.2c-.7 0-1.6.2-2.5.6-.9.4-1.9 1-2.8 1.9v24.3c-.8.1-1.7.3-2.7.3-1 .1-2 .1-3 .1s-2 0-3-.1-1.9-.2-2.7-.3v-36.2l.5-.5h4.3c3 0 4.9 1.5 6 4.4 3.4-3 6.8-4.5 10.1-4.5 3.4 0 6 1.2 7.7 3.5 1.9 2.1 2.8 5.3 2.8 9.2zM405.2 156.4c2.3 0 4.6.5 6.8 1.6v-17.6l.4-.5h4.4c2.3 0 3.9.5 4.8 1.5.9 1 1.3 2.8 1.3 5.3v36.2c0 2.6.7 4.3 2 5.2-.2 1-.7 2.1-1.4 3.3-.7 1.2-1.4 2-2.1 2.5-3.5-.1-6.1-1.5-7.8-4.1-2.9 3.1-6.4 4.6-10.5 4.6s-7.2-1.7-9.4-5.1c-2.2-3.4-3.3-8-3.3-13.9 0-2.9.4-5.5 1.1-7.9.8-2.3 1.8-4.3 3.1-6 1.3-1.6 2.8-2.9 4.6-3.8 2.1-.8 4-1.3 6-1.3zm1.4 28.9c2 0 3.8-.9 5.3-2.8v-15.9c-2-1.2-3.6-1.7-4.8-1.7-3.3 0-5 3.6-5 10.9.2 6.3 1.6 9.5 4.5 9.5zM445 165.5v27.9c-.8.1-1.7.3-2.7.3-1 .1-2 .1-3 .1s-2 0-3-.1-1.9-.2-2.7-.3v-24c0-2.8-1.1-4.2-3.4-4.2h-1.1c-.3-.9-.4-2.2-.4-3.8 0-1.6.1-3 .4-4.1 1.3-.1 2.4-.2 3.5-.3 1.1-.1 2-.1 2.9-.1h1.6c2.5 0 4.4.8 5.8 2.3s2.1 3.6 2.1 6.3zm-12.8-23c1.4-.8 3.2-1.2 5.4-1.2 2.3 0 4 .4 5.3 1.2.6 1.3.9 2.7.9 4.2s-.3 2.9-.9 4.2c-1.4.7-3.2 1.1-5.5 1.1s-4-.4-5.2-1.1c-.6-1.3-.9-2.7-.9-4.2.1-1.5.4-2.9.9-4.2zM481.8 178.9h-18.9c.1 2.2.7 3.8 1.7 5 1 1.2 2.7 1.8 5 1.8 1.2 0 2.5-.2 4-.5s3.3-.9 5.2-1.6c1.6 1.6 2.6 3.9 3 6.7-3.9 2.8-8.6 4.1-14.2 4.1-3.1 0-5.6-.5-7.7-1.5-2.1-1-3.7-2.3-5-4.1-1.3-1.7-2.2-3.8-2.7-6.2-.5-2.4-.8-5-.8-7.8 0-2.7.3-5.2 1-7.5s1.6-4.3 3-6c1.3-1.7 3-3 5.1-4 2.1-1 4.5-1.5 7.2-1.5 2.3 0 4.4.4 6.3 1.2 1.9.8 3.5 1.8 4.8 3.2 1.3 1.4 2.3 3 3 4.9.7 1.9 1.1 3.9 1.1 6.2-.2 3.1-.5 5.6-1.1 7.6zm-19-7.8h9.5v-.8c0-1.8-.4-3.3-1.2-4.4-.8-1.2-2-1.7-3.6-1.7-1.5 0-2.7.5-3.4 1.6-.7 1-1.1 2.8-1.3 5.3zM511.7 159.5c1.6-1.8 3.9-2.8 6.8-2.9.8.6 1.5 1.5 2.2 2.6.7 1.2 1.1 2.2 1.3 3.2-1.4.9-2 2.7-2 5.2v19.2c0 4.5-.4 8.1-1.1 11.1s-1.8 5.3-3.2 7c-1.4 1.7-3.2 2.9-5.4 3.6-2.2.7-4.7 1-7.7 1-5 0-9.5-.8-13.7-2.4 0-1.4.3-2.8.8-4.4.5-1.6 1.2-2.9 2-3.8 3.2 1.5 6.5 2.2 9.9 2.2 4.9 0 7.3-2.4 7.3-7.3v-2.4c-2.6 1.9-5.4 2.8-8.3 2.8-4.3 0-7.6-1.7-9.8-5.1-2.2-3.4-3.3-8-3.3-13.9 0-3 .4-5.6 1.1-8 .8-2.3 1.8-4.3 3.1-6 1.3-1.6 2.8-2.9 4.5-3.8 1.7-.9 3.5-1.3 5.5-1.3 4.1-.1 7.3 1.1 10 3.4zm-2.7 23V167c-1.7-1.6-3.3-2.5-4.8-2.5-3.3 0-5 3.6-5 10.9 0 6.4 1.4 9.6 4.3 9.6 2-.1 3.8-.9 5.5-2.5zM554.7 160.3c3.5 3.5 5.2 8.5 5.2 15 0 2.9-.4 5.5-1.1 7.9-.8 2.4-1.8 4.4-3.3 6.1-1.4 1.7-3.2 3-5.3 3.8-2.1.9-4.5 1.3-7.2 1.3s-5.1-.5-7.2-1.4c-2.1-.9-3.8-2.2-5.2-3.9-1.4-1.7-2.5-3.7-3.2-6.1-.7-2.4-1.1-5-1.1-7.8 0-2.9.4-5.5 1.1-7.9.7-2.3 1.8-4.4 3.2-6.1 1.4-1.7 3.1-3 5.2-3.9 2.1-.9 4.5-1.4 7.2-1.4 4.9.1 8.8 1.6 11.7 4.4zm-11.6 4.2c-1.1 0-1.9.3-2.6.8-.7.5-1.2 1.2-1.6 2.1-.4.9-.7 1.9-.8 3-.1 1.1-.2 2.4-.2 3.7 0 2 .1 3.8.2 5.3s.4 2.7.7 3.7c.4 1 .9 1.7 1.5 2.2.7.5 1.5.7 2.6.7 2.1 0 3.6-.9 4.2-2.8.7-1.9 1-4.5 1-8s-.3-6.1-1-8c-.6-1.8-1.9-2.7-4-2.7z"/><g><path fill="#05B4DD" d="M67.5 38.5h18v18.4h-18V38.5zm-10.6-.2h-18v27.3c-2.5-.6-5.2-1-7.9-1-18.8 0-31 11.8-31 30 0 19 11.4 28.6 33.5 28.8 7.9 0 15.7-.8 23.4-2.3V38.3zm-18 70.2c-2.1.4-4.1.4-6.2.4-9.3 0-14.3-5.2-14.3-14.7s5.2-15.3 14.3-15.3c2.1 0 4.1.2 6 1l.2 28.6z"/><path fill="#05B4DD" d="M67.5 101c0 15.5-.8 21.5-3.5 26.5s-6.4 8.3-14.3 12l16.6 7.9c7.9-3.9 11.8-7.5 14.7-13.2 2.9-5.6 4.3-12.8 4.3-27.1V65.8h-18V101h.2zm52.6-36.4c-8.3 0-16.4 1.7-23.8 5.4v13.7c6.6-3.5 13.7-5.2 21.1-5.4 4.4 0 6.2 1.2 6.2 4.4v3.9c-22 1.9-31.1 7.5-31.1 20.1 0 11.6 6.8 16.8 21.9 16.8 8.5 0 17.2-.8 25.7-1.9V85.3c0-7.3-.4-10.8-1.9-13.5-2.8-4.9-8.8-7.2-18.1-7.2zm4.5 45.7c-2.9.6-5.8.8-8.7.8-4.8 0-7.2-1.5-7.2-5 0-4.6 3.9-6.6 15.9-7.7v11.9zm174.8 13.9c18.2 0 29.8-11.6 29.8-30.4 0-18.2-11-29.4-29-29.4-18.4 0-29.8 11.6-29.8 30.4 0 18.2 11 29.4 29 29.4zm.6-45.5c7 0 10.8 5.8 10.8 15.5s-4.1 15.5-11 15.5-11-5.6-11-15.5 4-15.5 11.2-15.5zm-27.7-11.4c-7.7-1.7-15.7-2.5-23.4-2.5-26.3 0-41.2 11.4-41.2 31.7 0 16.2 10.1 26.7 25.7 26.7 4.1.2 7.9-.8 11.6-2.5v.4c0 11.4-5 16.1-16.8 16.1-6.8 0-13.3-1.5-19.3-4.6V149c6.2 2.3 12.8 3.5 19.3 3.5 9.5 0 17-2.1 22.6-6.2 1-.6 1.9-1.4 2.7-2.1 1.5-1.4 2.7-2.9 3.9-4.6 3.9-6 5.2-13.2 5.2-28.4v-5c-.2-2.5-.2-4.8-.2-7.3l-.2-9.7-.2-7.5v-1.9c3.7.4-.8-.4 4.1.4l6.2-12.9zm-27.1 38.9v1.4c-2.1.8-4.4 1.2-6.8 1.2-7.9 0-12.4-5-12.4-13.9 0-6.2 2.3-10.6 6.6-13.2 3.1-1.7 6.8-2.7 10.4-2.5h1.9v1.4l.2 5.8.2 8.1c0 2.5.2 4.8.2 6.8l-.3 4.9zm-68-41.6c-9.5.2-19.1 1.5-28.2 4.1v54h18V80.3c2.7-.8 5.4-1.4 8.3-1.4 6.4 0 8.7 2.5 8.7 9.5v34.2h18v-35c0-8.9-1.2-13.2-4.8-16.8s-10.8-6.2-20-6.2zm270.7 30.2c0-18.2-11-29.4-29-29.4-18.4 0-29.8 11.6-29.8 30.4 0 18 11 29.4 29.2 29.4s29.6-11.6 29.6-30.4zm-40.4.4c0-9.9 4.1-15.5 11.2-15.5s10.8 5.8 10.8 15.5-4.1 15.5-11 15.5-11-5.5-11-15.5zm80.8-5.8v34.2h18v-35c0-8.9-1.2-13.2-4.8-16.8s-10.6-6.2-19.9-6.2c-9.5.2-19.1 1.5-28.2 4.1v54h18V81.3c2.7-.8 5.4-1.4 8.3-1.2 6.3 0 8.6 2.5 8.6 9.3zm74.5 32.9c2.5-2.7 3.5-5.6 3.5-11.8V86.1h-12.6v23.8c0 4.8-1.5 6.6-6 6.6-1.9 0-3.9-.4-5.8-1V86.1h-12.4v37.5c6.4 1.7 13 2.7 19.7 2.7 6.3.2 10.9-1.3 13.6-4zm-218.9-5.5c5.8 5.4 16.4 7.3 23.6 7.2 5.6 0 11.2-1.4 16.2-4.1v-14.3c-3.9 1.9-8.1 3.1-12.4 3.1-7 0-18-2.7-18-15.1s11-15.1 18-15.1c4.3 0 8.3 1.4 12 3.5V67.5c-4.8-2.3-10.3-3.5-15.7-3.5-7.2 0-17 2.1-22.8 7.7-6.2 5.6-9.9 13.5-9.9 21.9-.5 8.7 2.8 17.3 9 23.2zm241.5-16c-2.9-1.4-2.7-2.9-2.7-2.9s0-2.5 5-2.5c3.7 0 7.2 1 10.4 2.5v-9.5c-3.9-1.9-8.3-2.7-12.8-2.3-14.5.6-14.3 11.6-14.3 11.6-.4 2.9.8 5.8 2.7 8.1 3.1 2.5 6.6 4.4 10.3 5.8 2.7 1 3.7 2.3 3.7 2.9s.4 2.7-5 2.7c-4.1-.2-7.9-1.4-11.6-3.1v9.9c5.4 2.1 11.4 2.9 17 2.1 5.4-1 10.8-2.7 11.4-11.4.6-8.5-7.9-11.2-14.1-13.9zm-74.6 8.5h14.3v14.3h-14.3v-14.3z"/></g><g><path fill="#B52BC9" d="M134.2 32c0 2.8-.4 4.8-1.2 6.1-.8 1.3-2.4 2-4.7 2h-18c-.8-.7-1.5-1.7-2.2-2.8-.7-1.1-1.1-2.1-1.1-3 0-1.6.5-3.2 1.7-5 1.2-1.7 2.9-3.7 5.2-5.7l6.5-5.9c2.1-1.9 3.2-3.8 3.2-5.7 0-1.2-.4-2.3-1.1-3.1-.7-.8-1.8-1.2-3.1-1.2s-2.4.5-3.3 1.5c-.9 1-1.6 2.3-2 3.8-.6 0-1.2-.1-1.9-.2s-1.3-.3-1.9-.5c-.6-.2-1.2-.5-1.7-.9-.5-.3-.9-.7-1.2-1.2.4-1.5 1-2.9 1.8-4.1s1.8-2.3 2.9-3.2c1.1-.9 2.4-1.6 3.9-2.1s3.1-.8 4.9-.8c1.7 0 3.4.3 4.9.9 1.5.6 2.8 1.4 3.9 2.5s2 2.4 2.6 3.9c.6 1.5.9 3.2.9 5 0 2.4-.7 4.5-1.9 6.3s-3 3.7-5.3 5.7l-4.4 3.6c-2.8 2.4-4.4 4-4.9 4.9 1.7-.2 3.4-.4 4.9-.5 1.5-.1 3-.2 4.3-.2h8.3zM142.7 3.9c2.7-2.6 6-3.9 9.9-3.9s7.1 1.3 9.9 3.9c1.7 1.9 2.9 4.2 3.4 6.8.6 2.6.8 5.9.8 9.7 0 3.8-.3 7-.8 9.7-.6 2.6-1.7 4.9-3.4 6.8-2.7 2.6-6 3.9-9.9 3.9s-7.1-1.3-9.9-3.9c-1.7-1.9-2.9-4.2-3.4-6.8-.6-2.6-.8-5.9-.8-9.7 0-3.8.3-7 .8-9.7.6-2.6 1.7-4.9 3.4-6.8zm6.4 27.5c.6 1.5 1.8 2.3 3.5 2.3.9 0 1.7-.2 2.3-.7.6-.4 1.1-1.2 1.4-2.2.3-1 .6-2.4.7-4.1.1-1.7.2-3.8.2-6.3s-.1-4.6-.2-6.3c-.1-1.7-.4-3-.7-4.1-.3-1-.8-1.8-1.4-2.2-.6-.4-1.3-.7-2.3-.7-.9 0-1.7.2-2.3.7s-1.1 1.2-1.4 2.2c-.3 1-.5 2.4-.7 4.1-.1 1.7-.2 3.8-.2 6.3 0 5.5.4 9.1 1.1 11zM181.9 32.3l-.1-4.5V20c0-.6.1-1.7.2-3.4s.2-2.9.2-3.6c-2.1 2.3-4.8 4.2-8 5.5-.9-.4-1.8-1.1-2.5-2.1-.8-1-1.2-2.1-1.4-3.3 5.6-3.5 9.6-7.6 11.8-12.2 1.4-.2 2.9-.4 4.5-.4s3.1.1 4.4.4v27l-.1 4.5 4.1-.1h3.3c.3 1.2.5 2.5.5 3.9a16 16 0 0 1-.5 3.9h-25.1c-.3-1.3-.5-2.6-.5-3.9s.2-2.6.5-3.8h4.9l3.8-.1zM202.1 30c0-4.1 2.2-7.4 6.5-10.1-3.7-2.4-5.5-5.5-5.5-9.3 0-1.5.3-2.9 1-4.3.7-1.3 1.6-2.4 2.8-3.4 1.2-.9 2.6-1.7 4.3-2.2 1.6-.5 3.4-.8 5.4-.8 2 0 3.8.3 5.4.8s3 1.3 4.2 2.2c1.1.9 2 2.1 2.7 3.4.6 1.3 1 2.8 1 4.4 0 3.3-1.9 6-5.6 8.1 2.3 1.4 4 2.9 5.1 4.7 1.1 1.7 1.6 3.8 1.6 6.1 0 1.7-.4 3.3-1.1 4.7-.8 1.4-1.8 2.6-3.2 3.6-1.3 1-2.9 1.7-4.7 2.3-1.8.5-3.8.8-5.9.8-2.1 0-4.1-.3-5.8-.8-1.7-.5-3.2-1.2-4.4-2.1s-2.1-2.1-2.8-3.4c-.6-1.5-1-3-1-4.7zm14.2-6.5l-1.5-.5c-2.2 1.9-3.3 4.1-3.3 6.6 0 1.4.5 2.6 1.4 3.5.9.9 2.1 1.4 3.6 1.4s2.7-.5 3.6-1.4c.9-.9 1.3-2.1 1.3-3.4 0-2.9-1.7-4.9-5.1-6.2zm-4-12.9c0 1.2.4 2.2 1.2 3 .8.8 2.1 1.5 3.8 2.2l.7.2c1.9-1.4 2.8-3.1 2.8-5.2 0-1.2-.4-2.3-1.2-3-.8-.8-1.8-1.2-3.1-1.2-1.2 0-2.3.4-3.1 1.1-.7.8-1.1 1.8-1.1 2.9z"/></g></svg>
        </a>
      </div>
      <!--
      <div class="title-bar-right">
        <div class="top-bar-title">Styleguide</div>
      </div>
      -->
    </nav>

    <div class="content styleguide-content">
      <div class="row expanded">
        <div class="column medium-3 large-2">
          <ul class="tabs vertical" data-tabs data-deep-link="true" id="content-tabs">
            {{#each pages}}
              <li class="tabs-title {{#if @first}}is-active{{/if}}"><a href="#{{ anchor }}">{{ title }}</a></li>
            {{/each}}
          </ul>

        </div>
        <div class="column medium-9 large-10 end styleguide-add-max-width">
          <div class="tabs-content" data-tabs-content="content-tabs">
          {{#each pages}}
            <div class="tabs-panel {{#if @first}}is-active{{/if}}" id="{{ anchor }}">
              {{ body }}
            </div>
          {{/each}}
        </div>
      </div>
    </div><!--/.content -->

    <!-- Loading JavaScripts
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"><\/script>')</script>
    <script src="/static/js/what-input.min.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/headroom.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
