.attraction-name {
  margin-bottom: $global-margin / 2;
}

.attraction-location {
  font-size: .8rem;
}

.attraction-location .label {
  margin-right: 1rem;
  font-size: .8em;
  font-weight: $global-weight-bold;
}

.attraction-description {
  max-width: 24em;
  font-size: .9rem;
}

.attraction-list .column {
  @include breakpoint(large) {
    margin-bottom: 2.5rem;

    // 2-by-2 grid. Bottom 2 columns shouldn't have margin bottom
    &:nth-last-child(1),
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}
