@include breakpoint(medium) {
  .card-row {
    display: flex;
    justify-content: center;

    > .column {
      display: flex;
    }
  }
}

.card.icon-right {
  .card-icon {
    float: right;
    margin: 1em 0 2em 2em;
  }
}

.card.icon-left,
.card.icon-right {
  display: flex;
  align-items: flex-start;

  .card-title {
    text-align: left;
  }

  .card-icon {
    float: left; // no-flex fallback
    width: 240px;
    margin: 0 0 0 1em;
    align-self: center;
  }
}

.card.icon-right {
  flex-direction: row-reverse;

  .card-icon {
    float: right; // no-flex fallback
    margin: 0 1em 0 0;
  }
}

.card-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 1em auto 0;
}

.card-title {
  text-align: center;
}
