.date-card {
  text-align: center;
  font-weight: $global-weight-bold;
  margin-right: 20px;
  .month {
    color: $white;
    background-color: $secondary-color;
  }
  .days {
    color: $secondary-color;
    background-color: $white;
    font-size: rem-calc(40);
  }
}
