.event-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $global-margin * 3;
}

.event-links-heading {
  margin-right: 1em;
  color: $green;
}

.event-link-icon {
  height: 34px;
}

.event-link-icon path {
  fill: $white;
}

.event-link {
  display: inline-flex;
  align-items: center;
  padding: .75em 1.75em;
}

.event-link-icon {
  margin-right: .5em;
}
