.news {
    .latest {
      padding: 4px 10px;
      display: block;
    }
}

@include breakpoint(medium) {
  .news {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .news-title{
      display: flex;
    }
  }
}
