.header {
  position: relative;
  padding: 6rem 0 3rem;
  text-align: center;

  h1 {
    color: $body-font-color;
  }

  .subhead {
    max-width: 660px;
    text-align: center;
    color: $body-font-color;
  }

  .subhead strong {
    display: block;
    font-weight: $global-weight-bold;
  }

  .subheading {
    margin-bottom: $global-margin / 2;
    font-size: rem-calc(22);
    font-weight: $global-weight-normal;
  }

  .dates-year {
    @include show-for(medium);
  }

  .location:before {
    display: block;
    margin: 0 auto 0.5em;
    width: 100px;
    border-top: 1px solid $body-background;
    content: "";
  }

  @include breakpoint(medium) {
    padding-top: 14rem;

    .subhead {
      text-align: right;
    }

    .subheading {
      margin-bottom: 0;
    }

    .location {
      padding-top: 0;
      border-left: 1px solid $body-background;
      text-align: left;

      &:before {
        content: none;
      }
    }
  }
}
