.photo-hero {
  background-size: cover;

  .hero-content {
    position: relative;
    z-index: 2;
    padding-top: rem-calc(10);
    background: $body-background;

    .column {
      @include bottomless;
    }
  }

  blockquote {
    padding: 0;
    border: none;
    font-size: rem-calc(26);
  }

  cite {
    font-size: rem-calc(20);
  }

  @include breakpoint(medium) {
    padding-top: 16vh;
    padding-bottom: 16vh;

    .hero-content {
      padding-top: 0;
      background: transparent;
    }
  }
}
