.social-icons {
  list-style: none;
  margin: 2em auto;
  text-align: center;

  li {
      display: inline-block;
      margin: 0 1em;
  }

  .organizers & {
    margin: 1em 0;

    li {
      margin: 0 0.5em;
    }
  }
}

.social-icons a {
  display: block;

  svg {
    fill: $white;
    width: 42px;
    height: 42px;
  }

  .organizers & {
    svg {
      width: 36px;
      height: 36px;
    }
  }

  &:hover svg {
    fill: $primary-color;
  }

  &.facebook:hover svg {
    fill: $color-facebook;
  }

  &.twitter:hover svg {
    fill: $color-twitter;
  }

  &.linkedin:hover svg {
    fill: $color-linkedin;
  }

  &.instagram:hover svg {
    fill: $color-instagram;
  }

  &.github:hover svg {
    fill: $color-github;
  }
}
