---
layout: base
title: Financial Aid
permalink: /about/financialaid/
layout: default
description: As part of our commitment to diversity, we are thrilled to announce that we will be supporting individuals who need financial assistance to attend DjangoCon US
heading: Financial Aid
---

{% include titlebar.html %}
<header class="subpage-header">
 <h1><a href="/financialaid/">Financial Aid</a></h1>
</header>

<div class="content subpage-content">
  <div class="row column">

    <h2>Apply for Financial Aid!</h2>

<p>As part of our commitment to diversity, we are thrilled to announce that we will be supporting individuals who need financial assistance to attend DjangoCon US.</p>

<p>DEFNA <a href = "http://www.defna.org/">Django Events Foundation North America</a>, <a href="https://www.djangoproject.com/foundation/">The Django Software Foundation</a>, the <a href="https://www.python.org/psf/">Python Software Foundation</a> have each donated to help meet the cost of tickets, travel, and accommodation for attendees who need financial support. If you will not be able to attend DjangoCon US without financial help, we strongly encourage you to apply for financial aid. </p>

<p>In addition, this year, speakers will be provided with free conference tickets to speakers to encourage wider participation from the Django community.</p>

<p>You can apply for financial aid by filling out <a href ="https://goo.gl/forms/Uu3gr1ltLbSR7SxM2">the application</a>. You’ll need to provide your name, the amount you’re requesting, and some information about why you’re requesting funding.  Applications need to be submitted by April 10th in order to be considered. </p>

<p>More details about our financial aid process can be found on our <a href = "http://localhost:4000/about/faq/">financial aid F.A.Q</a></p>

<h2>Diversity Sponsorships</h2>
<p>
Your organization can help increase diversity at DjangoCon US by contributing to the Financial Aid fund. Please check out our <a href ="https://2017.djangocon.us/sponsors/prospectus/">sponsorship prospectus</a> for more information.
</p>
  </div>
</div>
