---
layout: base
---

<header class="header">
  <div class="row">
    <div class="column small-12 medium-6 header-text">
      <h1>Six days of talks, sprints, and tutorials in San Diego</h1>

      <div class="row home-eventinfo">
        <span class="column medium-5 large-4 subheading datesyear">
          <strong>October 14-19</strong>
          <span class="datesyear-year">2018</span>
        </span>

        <span class="column medium-7 large-8 subheading location">
          San Diego Marriott of Mission Valley in
          <strong>San Diego, California</strong>
        </span>
      </div>
    </div>
    <div class="column small-12 medium-6 text-center">
      <img
        data-interchange="[{{ "/static/img/beach-small.svg" | relative_url }}, small], [{{ "/static/img/beach.svg" | relative_url }}, medium]"
        alt="A beach scene featuring a crab and umbrella."
        class="header-img" width="380" />
    </div>
  </div>
</header>

<div class="home-content">
<section class="section-pad theme-light-gray">
  <div class="row column xlarge-9">
    <p class="lead column large-9 large-centered text-center">Join us for a source of inspiration, education and networking opportunities. Our team is making sure that participating in DjangoCon US is easy for you!</p>

    <div class="date-card medium-4 column">
      <div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">October</div>
            <div class="days">14</div>
          </div>
        </div>
        <div class="small-7 column">
          <h2 class="date-card-title">Tutorials</h2>
          <p>One day, numerous tutorials</p>
        </div>
      </div>
    </div>
    <div class="date-card medium-4 column">
      <div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">October</div>
            <div class="days">15-17</div>
          </div>
        </div>
        <div class="small-7 column">
          <h2 class="date-card-title">Talks</h2>
          <p>Dozens of talks chosen by the community</p>
        </div>
      </div>
    </div>
    <div class="date-card medium-4 column">
      <div class="row collapse">
        <div class="small-5 column">
          <div class="dates">
            <div class="month">October</div>
            <div class="days">18-19</div>
          </div>
        </div>
        <div class="small-7 column">
          <h2 class="date-card-title">Sprints</h2>
          <p>Team up to work on Django!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-pad theme-shakespeare">
  <div class="row column v-pad-bottom text-center">
    <h2 class="contrast-fix">A conference with heart</h2>
  </div>
  <div class="row card-row">
    <div class="medium-4 column">
      <div class="card card-theme-eminence">
        <img
          src="{{ "/static/img/hands.svg" | relative_url }}"
          alt="Two hands interlocked"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Sponsors!</h3>
          <p>We can't put on DjangoCon US without you. Go ahead and <strong><a href="mailto:{{site.sponsors_email}}">drop us a line</a></strong> so we can talk to you about how we can make it easy for you to sponsor us.</p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      {% comment %} TODO: Contrast {% endcomment %}
      <div class="card card-theme-eminence">
        <img
          src="{{ "/static/img/megaphone.svg" | relative_url }}"
          alt="A megaphone producing a loud sound"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Submit a Proposal</h3>
          <p>Get more out of your DjangoCon US experience by presenting! Our CFP will open soon and in the meantime, check our <strong><a href="/speaking/">speaking</a></strong> page for more information.</p>
        </div>
      </div>
    </div>
    <div class="medium-4 column">
      <div class="card card-theme-eminence">
        <img
          src="{{ "/static/img/heart.svg" | relative_url }}"
          alt="A heart"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">Code of Conduct</h3>
          <p>Participants are expected to be respectful to each other. For details on our expectations, and who to contact if you need assistance, see our <strong><a href="/conduct/">code of conduct</a></strong>.</p>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="news-section section-pad theme-light-gray back">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Latest News</h2>
  </div>

  <div class="news row">
    {% for post in site.posts limit:12 %}
      {% unless post.hidden %}
      <article class="news-title medium-4 column">
        <div class="card {% if post.category == "Sponsorship" %}card-theme-violetred{% else %}card-theme-orchid{% endif %}">
          <div class="card-section">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h3>
          </div>
        </div>
      </article>
      {% endunless %}
    {% endfor %}
  </div>

  <div class="row v-pad-top">
    <div class="medium-4 column medium-centered text-center">
      <a class="button hollow theme-willow" href="/news/">Read More News</a>
    </div>
  </div>
</section>

{% include sponsor-footer.html %}

</div><!-- end .content -->
