---
title:
layout: base
---

{% include titlebar.html %}
<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="row column v-pad-bottom">
  <div class="medium-6 column">
    <p class="lead min">This year's event is at <strong>Hotel RL by Red Lion Spokane at the Park</strong> in Spokane, Washington. Curabitur at dictum ante, luctus finibus turpis. Nam a egestas erat, ut cursus nunc. Nulla sagittis dolor at dictum mollis. Morbi sit amet sem eget sem egestas imperdiet et vitae purus.</p>
  </div>
  <div class="medium-6 column">
    <iframe
      class="thumbnail thumbnail-map"
      width="600"
      height="380"
      frameborder="0"
      scrolling="no"
      src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJv9e4a_QYnlQRqsCuHEMJZfY&key=AIzaSyC53fhhv-toSLa-iCzc0qt8zFmVNF1vfDw" allowfullscreen></iframe>

    {% comment %}
    <a
      href="#"
      target="_blank">
      <img
        class="thumbnail thumbnail-map"
        width="600" src="https://maps.googleapis.com/maps/api/staticmap?scale=false&zoom=17&size=600x480&maptype=roadmap&key=AIzaSyBpAAN1jo0K9AbR4znChM9VwXUZgPDd5zM&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xe65b00%7Clabel:1%7C47.66441,+-117.41611"
        alt="Google Map of Hotel RL by Red Lion Spokane at the Park">
    </a>
    {% endcomment %}



  </div>
</div>


<section class="section-pad theme-dark-beige">
  <div class="row column">
    <div class="medium-6 column">
      <img src="/static/img/venue.jpg" alt="Hotel RL by Red Lion Spokane at the Park" />
    </div>
    <div class="medium-6 column">
      <h2>Staying at Hotel RL</h2>
      <p class="lead min">Our group rate of <strong>$199/night</strong> expires on June 15, 2017, so don't wait to book your room!</p>

      <ul class="list-split">
        <li>Great coffee onsite via <a href="https://www.redlion.com/park-spokane/dining/victrola-coffee-roasters">Victrola Coffee Roasters</a></li>
        <li><a href="https://www.redlion.com/park-spokane/dining">The Restaurant</a> features local craft beer and PNW cuisine</li>
        <li>Free roundtrip airport shuttle</li>
        <li>Free Wi-Fi</li>
      </ul>

      <a href="#" class="button secondary">Book a Room</a>
    </div>
  </div>
</section>

<div class="section-pad theme-light-beige">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Around Spokane</h2>
  </div>
</div>
