h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $global-weight-bold;

  a {
    text-decoration: none;
  }
}

strong {
  font-weight: $global-weight-bold;
}

.lead {
  margin-bottom: 2.5rem;
}

p:last-child {
  margin-bottom: 0;
}

iframe,
.highlighter-rouge {
  margin-bottom: $global-margin;
}

.responsive-embed iframe {
  margin-bottom: 0;
}
